body {
  font-family: 'helvetica neue';
  text-align: center;
  background: #f5f5f5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-weight: 200;
  color: #333;
}

a { color: #0ab; cursor: pointer; }
a:hover {text-decoration: none}

h1 {
  font-weight: 300;
  letter-spacing: 1px;
}

th { font-weight: 400; letter-spacing: 1px; }
td { font-weight: 200 }

.strong {font-weight: bold}
.hide {display: none}
.alignRight { text-align: right }

.demo {
  width: 750px;
  margin: 0 auto;
  padding: 20px;
}

.demo textarea {
  width: 710px;
  height: 215px;
  margin-top: 20px;
  border: 0;
  padding: 10px 20px 20px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-family: 'anonymous pro', 'courier', 'monospace'
}
