body {
  font-family: 'helvetica neue';
  text-align: center;
}

.reactPivot {
  width: 750px;
  margin: 0 auto;
}

.reactPivot-results table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
}

.reactPivot-results td {
  border-top: 1px solid #ddd;
  padding: 8px;
}

.reactPivot-results td.reactPivot-indent {
  border: none;
}

.reactPivot-results tr:hover td {
  background: #f5f5f5
}

.reactPivot-results tr:hover td.reactPivot-indent {
  background: none;
}

.alignRight {
  text-align: right;
}

.reactPivot-csvExport {
  float: right;
  padding: 10px 0;
}

.reactPivot-dimensions {
  width: 500px;
  float: left;
  padding: 10px 0;
  text-align: left;
}
}
